/*Jack S Veasey (16425208)*/
h1 {
  text-align: center; /*Aligns text in the center of lin*/
  font-family: 'Oswald', sans-serif; /*Changesw font of text to Oswald*/
}

.header {
  width: 100%; /*for fluid layout*/
  background-color: #669; /*changes background color*/
}

div img {
  width: 10%;
  height: 5%;
  position: fixed;
  top: 0;
  animation: JVanimation 5s linear infinite;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(1, 169, 217);
}

nav {
  background-color: #000080; /*Sets Nav Bar's background color*/
  overflow: hidden;
  justify-content: center;
  display:flex; /*Aligns text in list together*/
  flex-direction: row; /*Displays nav bar as a row*/
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
}

li a {
  display: flex;
  color: rgb(255, 255, 255);
  background-color: #000080;
  line-height: 2em;
  padding: 0.5em 2em; /*Spaces the blocks in nav bar by 0.5em (5 pixels) in height and width*/
}

footer p {
  background-color:  #000080;
  color: rgb(255, 255, 255);
  font-size: 10px; /*Sets font size by 10 pixels*/
  text-align: right; /*Aligns text to the right*/
  font-family: 'Oswald', sans-serif;
}


.form-container {
  max-width:960px;
  margin:0 auto;
  background:#fff;
  border-radius:10px;
  box-sizing:border-box;
  padding:20px;
  overflow:hidden;
  color:#8A00A7;
}

input:not([type=submit]):not([type=file]):not([type=button]){
  border-radius:5px;
  border:2px solid #dadada;
  height:25px;
  line-height:25px;
  font-family: 'Noticia Text', serif;
  padding-left:5px;
  outline-color:#0083ff;
}

textarea{
  border-radius:5px;
  border:2px solid #dadada;
  line-height:25px;
  font-family: 'Noticia Text', serif;
  padding-left:5px;
  outline-color:#0083ff;
}

input[type="button"], input[type="submit"] {
  background:#f2f2f2;
  border:2px solid #dadada;
  border-radius:5px;
  width:75px;
  line-height:25px;
  text-transform:uppercase;
  color:#999;
  outline:#0083ff;
}

input[type="submit"]:hover ,
input[type="button"]:hover {
  border:2px solid #0083ff;
  border-radius:5px;
  color:#8A00A7;
  cursor:pointer;
}

@keyframes JVanimation {
  50% {
    transform: rotateY(180deg);
  }
}
