/*Jack S Veasey (16425208)*/
nav {
  background-color: #000080; /*Sets Nav Bar's background color*/
  margin: 0;
  overflow: hidden;
  justify-content: space-around;
  display:flex; /*Aligns text in list together*/
  flex-direction: row; /*Displays nav bar as a row*/
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  display: flex;
  color: rgb(255, 255, 255);
  background-color: #000080;
  line-height: 2em;
  padding: 0.5em 2em; /*Spaces the blocks in nav bar by 0.5em (5 pixels) in height and width*/
}

h1 {
  text-align: center; /*Aligns text in the center of lin*/
  font-family: 'Oswald', sans-serif; /*Changes font of text to Oswald*/
  font-size: 50px;
}

.header {
  width: 100%; /*for fluid layout*/
  background-color: #669; /*changes background color*/
}

div img {
  width: 10%;
  height: 5%;
  position: absolute;
  animation: JVanimation 5s linear infinite;
}

body {
  margin: 10px; /*10 pixels*/
  padding: 0;
}

h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}


footer p {
  font-size: 10px; /*Sets font size by 10 pixels*/
  text-align: right; /*Aligns text to the right*/
}

.Secondary-Education li {
  display: block;
  list-style-position: inside;
}

.BTEC-Education li {
  display: block;
  list-style-position: inside;
}

.University li {
  display: block;
  list-style-position: inside;
}

.right-column {
  width: 50%;
  height: auto;
  float: right; /*Places column on right hand side*/
  background-color: rgb(80, 89, 246);
  color: #373239;
}

.left-column {
  width: 50%;
  height: auto;
  float: left; /*Places column on right hand side*/
  background-color: rgb(100, 255, 15);
  color: #373239;
}

@keyframes JVanimation {
  50% {
    transform: rotateY(180deg);
  }
}
