/*Jack S Veasey (16425208)*/
h1 {
  text-align: center; /*Aligns text in the center of lin*/
  font-family: 'Oswald', sans-serif; /*Changes font of text to Oswald*/
}

.header {
  width: 100%; /*for fluid layout*/
  background-color: #669; /*changes background color*/
}

body {
  margin: 10px; /*10 pixels*/
  padding: 0;
}

img {
  width: 50%; /*Makes image's width 50% (Half) of its orginal size.*/
  height: 50%; /*Shortens the images height to 250 pixels.*/
}

nav {
  background-color: #000080; /*Sets Nav Bar's background color*/
  margin: 0;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display:inline-block; /*Aligns text in list together*/
  list-style-type: none;
}

nav ul li a {
  color: rgb(255, 255, 255);
  background-color: #000080;
  display: flex;; /*Displays nav bar in flex*/
  flex-direction: row; /*Displays nav bar as a row*/
  line-height: 2em;
  padding: 0.5em 0.5em; /*Spaces the blocks in nav bar by 0.5em (5 pixels) in height and width*/
}

footer p {
  font-size: 10px; /*Sets font size by 10 pixels*/
  text-align: right; /*Aligns text to the right*/
}

.right-column {
  width: 50%;
  height: 250px;
  float: right; /*Places column on right hand side*/
  background-color: rgb(159, 104, 196);
  color: #373239;
}
